<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-navbar name="navbar1" backgroundcolor="#ffffff">
        <wm-nav name="leftTopLinks" type="navbar" class="navbar-left">
            <wm-nav-item name="list_home">
                <wm-anchor caption="Home" name="homeLink" iconclass="wi wi-home" on-click="Variables.goToPage_Main.invoke()" color="#000000" accessroles="manager,admin,vendor"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_order">
                <wm-anchor caption="Replenishment Orders" name="orderLink" iconclass="wi wi-file" accessroles="admin" class="wm-anchor" color="#000000"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_inventory">
                <wm-anchor caption="Parts" name="partsLink" iconclass="wi wi-gear" on-click="Variables.goToPage_Parts.invoke()" color="#000000"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_suppliers">
                <wm-anchor caption="Vendors" name="vendorsLink" iconclass="fa fa-truck" accessroles="admin,manager" class="wm-anchor" on-click="Variables.goToPage_SupplierList.invoke()" color="#000000"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_users">
                <wm-anchor caption="Users" name="usersLink" iconclass="wi wi-person" accessroles="admin,manager" class="wm-anchor" on-click="Variables.goToPage_Users.invoke()" color="#000000"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_statistics">
                <wm-anchor caption="Statistics" name="statisticsLink" iconclass="wi wi-bar-graph" accessroles="admin" color="#000000"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_settings" accessroles="admin">
                <wm-anchor caption="Settings" name="settingsLink" iconclass="wi wi-settings" accessroles="admin,manager" color="#000000" on-click="Variables.goToPage_Settings.invoke()"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_services"></wm-nav-item>
        </wm-nav>
        <wm-nav name="rightTopLinks" type="navbar" class="navbar-right">
            <wm-nav-item name="list_help">
                <wm-anchor caption="Help" name="helpLink" iconclass="wi wi-help-outline" color="#000000" on-click="Variables.goToPage_Help.invoke()"></wm-anchor>
            </wm-nav-item>
            <wm-nav-item name="list_logout">
                <wm-anchor caption="Logout" name="logoutLink" iconclass="wi wi-sign-out" on-click="Variables.logoutVariable.invoke()" color="#000000"></wm-anchor>
            </wm-nav-item>
        </wm-nav>
    </wm-navbar>
</wm-partial>