<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav">
    <wm-nav name="leftnavigation" type="pills" layout="stacked">
        <wm-nav-item name="list_order">
            <wm-anchor caption="Replenishment Orders" name="orderLink" iconclass="wi wi-file" accessroles="admin" class="wm-anchor"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inventory">
            <wm-anchor caption="Parts" name="partsLink" iconclass="wi wi-gear" on-click="Variables.goToPage_Parts.invoke()" on-dblclick="Variables.goToPage_Parts_Catalogue.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_suppliers">
            <wm-anchor caption="Suppliers" name="suppliersLink" iconclass="fa fa-truck" accessroles="admin" class="wm-anchor" on-click="Variables.goToPage_SupplierList.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_users">
            <wm-anchor caption="Users" name="usersLink" iconclass="wi wi-person" accessroles="admin" class="wm-anchor" on-click="Variables.goToPage_Users.invoke()"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_statistics">
            <wm-anchor caption="Statistics" name="statisticsLink" iconclass="wi wi-bar-graph" accessroles="admin"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>