<wm-page data-ng-controller="HelpPageController" pagetitle="Help" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-label padding="unset 0.5em unset 0em" name="contact_info" caption="Contact Information" fontsize="25"></wm-label>
            <wm-html name="html1" height="200" padding="unset unset unset 0.5em">
                <h3>For Vendor Questions:</h3><a href="mailto:brandonvb@eparts.shop">brandonvb@eparts.shop</a>
                <h3>For Technical Questions:</h3><a href="mailto:hdon@vanenburgsoftware.com">hdon@vanenburgsoftware.com</a>
                <br><a href="tel:+31341745966">+31 341 745 966</a>
            </wm-html>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>