<wm-page data-ng-controller="Print_Part_LabelPageController" pagetitle="Print Part Label" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-iframe name="iframe_part_label" iframesrc="bind:&quot;services/generateReports/generatePdfReport?jrxml=supplier_label.jrxml&amp;database=supplierPortalDataSource&amp;partID=&quot;+pageParams.partId" width="50%" height="80%"></wm-iframe>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>