<wm-page data-ng-controller="EditPartSimplePageController" pagetitle="Edit Part Simple" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Parts Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.SupplierPortalPartsData.dataSet" captionalign="left" captionposition="top" name="liveform_create_part" on-success="Variables.goToPage_Parts.invoke()"
            on-beforeservicecall="liveform_create_partBeforeservicecall($event, $operation, $data)" on-result="liveform_create_partResult($event, $operation, $data)" formdata="bind:Variables.SupplierPortalPartsData.firstRecord">
                <wm-layoutgrid columns="1" name="layoutgrid3_1">
                    <wm-gridrow name="gridrow7_1" class="create-part-label">
                        <wm-label padding="unset 0.5em" name="label1" caption="GENERAL"></wm-label>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7_1" class="gridrow-part-create">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                            <wm-form-field name="salesName" displayname="Sales Name" show="true" primary-key="false" generator="assigned" key="salesName" type="string" readonly="false" required="true" widget="text" maxchars="255" hint="As shown on website"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                            <wm-form-field name="labelName" displayname="Label Name" show="true" primary-key="false" generator="assigned" key="labelName" type="string" readonly="false" required="true" widget="text" maxchars="255" hint="As shown on label"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                            <wm-form-field name="skunumber" displayname="SKU Number" show="true" primary-key="false" generator="assigned" key="skunumber" type="string" readonly="false" required="true" widget="text" maxchars="15" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn12_1" class="gridrow-part-create">
                            <wm-form-field name="description" displayname="Description" show="true" primary-key="false" generator="assigned" key="description" type="text" readonly="false" required="false" widget="textarea" maxchars="2147483647" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7_1" class="create-part-label">
                        <wm-label padding="unset 0.5em" name="label1" caption="DETAILS"></wm-label>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                            <wm-form-field name="partNumber" displayname="Part Number" show="true" primary-key="false" generator="assigned" key="partNumberVendor" type="string" readonly="false" required="true" widget="text" maxchars="25" inputtype="text"
                            placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field name="packageQuantity" displayname="Package Quantity" show="true" primary-key="false" generator="assigned" key="packageQuantity" type="long" readonly="false" required="true" step="0" widget="number" inputtype="number"
                            placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="6">
                            <wm-form-field name="manufacturingCosts" displayname="Manufacturing Costs ($)" show="true" primary-key="false" generator="assigned" key="manufacturingCosts" type="short" readonly="false" required="false" step="0" widget="number"
                            inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                            <wm-form-field name="manufacturingLeadTime" displayname="Manufacturing Lead Time (days)" show="true" primary-key="false" generator="assigned" key="manufacturingLeadTime" type="long" readonly="false" required="false" step="0" widget="number"
                            inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn12_2">
                            <wm-form-field name="category" displayname="Category" show="true" primary-key="false" generator="assigned" key="categories" type="list" is-related="true" readonly="false" required="false" widget="select" dataset="bind:Variables.readCategories.dataSet"
                            datafield="All Fields" displayfield="categoryName"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                            <wm-form-field name="brand" displayname="Brand" show="true" primary-key="false" generator="assigned" key="brands" type="list" is-related="true" readonly="false" required="false" widget="select" placeholder="Select value" dataset="bind:Variables.readBrands.dataSet"
                            datafield="All Fields" displayfield="brandName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10_1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                            <wm-form-field name="countryOfOrigin" displayname="Country Of Origin" show="true" primary-key="false" generator="assigned" key="countryOfOrigin" type="string" readonly="false" required="false" widget="select" maxchars="255" defaultvalue="bind:Variables.readUser.dataSet.data[$i].vendors.country"
                            placeholder="Enter value" dataset="bind:Variables.countryList.dataSet" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn8" columnwidth="6">
                            <wm-form-field name="salesPrice" displayname="Sales Price ($)" show="true" primary-key="false" generator="assigned" key="salesPrice" type="integer" readonly="false" required="false" step="0" widget="number" accessroles="manager"
                            inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7_1" class="create-part-label">
                        <wm-label padding="unset 0.5em" name="label2" caption="DIMENSIONS"></wm-label>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="6">
                            <wm-form-field name="dimensionsLength" displayname="Dimensions Length (inch)" show="true" primary-key="false" generator="assigned" key="dimensionsLength" type="integer" readonly="false" required="false" step="0" widget="number"
                            inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn5" columnwidth="6">
                            <wm-form-field name="dimensionsWidth" displayname="Dimensions Width (inch)" show="true" primary-key="false" generator="assigned" key="dimensionsWidth" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number"
                            placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn6" columnwidth="6">
                            <wm-form-field name="dimensionsHeight" displayname="Dimensions Height (inch)" show="true" primary-key="false" generator="assigned" key="dimensionsHeight" type="integer" readonly="false" required="false" step="0" widget="number"
                            inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                            <wm-form-field name="weight" displayname="Weight (lbs)" show="true" primary-key="false" generator="assigned" key="weight" type="integer" readonly="false" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="unitOfMeasureWeight" displayname="Unit Of Measure Weight" show="false" primary-key="false" generator="assigned" key="unitOfMeasureWeight" type="string" readonly="false" required="true" widget="text" maxchars="3" inputtype="text"
                placeholder="Enter value" defaultvalue="lbs"></wm-form-field>
                <wm-form-field name="partCode" displayname="Part Code" show="false" primary-key="false" generator="assigned" key="partCode" type="string" readonly="false" required="true" widget="text" maxchars="13" inputtype="text" placeholder="Enter value"></wm-form-field>
                <wm-form-field name="status" displayname="Status" show="false" primary-key="false" generator="assigned" key="status" type="string" readonly="false" required="true" widget="text" maxchars="15" defaultvalue="Draft" disabled="true"
                color="#bbbbbb" inputtype="text" placeholder="Enter value"></wm-form-field>
                <wm-form-field name="partId" displayname="Part Id" show="false" primary-key="true" generator="identity" key="partId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-field name="unitOfMeasureDimension" displayname="Unit Of Measure Dimension" show="false" primary-key="false" generator="assigned" key="unitOfMeasureDimension" type="string" readonly="false" required="true" widget="text"
                maxchars="5" defaultvalue="inch" inputtype="text" placeholder="Enter value"></wm-form-field>
                <wm-form-field name="active" displayname="Active" show="false" primary-key="false" generator="assigned" key="active" type="boolean" readonly="false" required="true" widget="checkbox" checkedvalue="true" uncheckedvalue="false"
                defaultvalue="true" placeholder=""></wm-form-field>
                <wm-form-field name="vendor" displayname="Vendor" show="bind:Variables.readUser.firstRecord.role == 'admin' || Variables.readUser.firstRecord.role == 'manager'" primary-key="false" generator="assigned" key="vendors" type="list"
                is-related="true" readonly="false" required="true" widget="select" defaultvalue="bind:Variables.readUser.dataSet.data[$i].vendors" placeholder="Select value" dataset="bind:Variables.AllVendors.dataSet" datafield="All Fields" displayfield="vendorName"></wm-form-field>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Brand" iconclass="wi wi-file-text" name="add_brand_dialog">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-primary" caption="Close" on-click="closeDialog()" name="button5"></wm-button>
            </wm-dialogactions>
            <wm-liveform errormessage="" title="Brands Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.SupplierPortalBrandsData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                <wm-layoutgrid columns="1" name="layoutgrid3">
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                            <wm-form-field name="brandName" displayname="Brand Name" show="true" primary-key="false" generator="assigned" key="brandName" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="brandId" displayname="Brand Id" show="false" primary-key="true" generator="identity" key="brandId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="wi wi-refresh" title="Reset" action="reset()" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" action="saveAction($event)" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-dialog>
    </wm-view>
</wm-page>