<wm-page data-ng-controller="Supplier_DetailsPageController" pagetitle="Supplier Details" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Vendor Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.SupplierPortalSuppliersData.firstRecord" captionalign="left" captionposition="top" name="edit_vendor_liveform" formdata="bind:Variables.SupplierPortalSuppliersData.firstRecord"
            on-success="Variables.goToPage_SupplierList.invoke()">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="vendorName" displayname="Vendor Name" show="true" primary-key="false" generator="assigned" key="vendorName" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="vendorCode" displayname="Vendor Code" show="true" primary-key="false" generator="assigned" key="vendorCode" type="string" readonly="false" required="false" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="regionsByRegion" displayname="Region" show="true" primary-key="false" generator="assigned" key="regionsByRegion" type="list" is-related="true" readonly="false" required="false" widget="select" dataset="bind:Variables.readRegions.dataSet"
                            datafield="All Fields" displayfield="regionName" placeholder="Select value" defaultvalue="bind:Variables.SupplierPortalSuppliersData.dataSet.data[$i].regionsByRegion"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="allotment" displayname="Allotment" show="true" primary-key="false" generator="assigned" key="allotment" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="country" displayname="Country" show="true" primary-key="false" generator="assigned" key="country" type="string" readonly="false" required="false" widget="select" maxchars="50" placeholder="Enter value" dataset="bind:Variables.countryList.dataSet"
                            defaultvalue="bind:Variables.SupplierPortalSuppliersData.dataSet.data[$i].country" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="state" displayname="State" show="bind:Widgets.edit_supplier_liveform.formWidgets.country.displayValue=='United States'" primary-key="false" generator="assigned" key="state" type="string" readonly="false" required="false"
                            widget="select" maxchars="100" defaultvalue="bind:Variables.SupplierPortalSuppliersData.dataSet.data[$i].state" on-change="stateChange($event, $scope, newVal, oldVal)" dataset="bind:Variables.usStatesList.dataSet" datafield="dataValue"
                            displayfield="name" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="city" displayname="City" show="true" primary-key="false" generator="assigned" key="city" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="address1" displayname="Address1" show="true" primary-key="false" generator="assigned" key="address1" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                            <wm-form-field name="address2" displayname="Address2" show="true" primary-key="false" generator="assigned" key="address2" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field name="address3" displayname="Address3" show="true" primary-key="false" generator="assigned" key="address3" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="address4" displayname="Address4" show="true" primary-key="false" generator="assigned" key="address4" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="vendorId" displayname="Vendor Id" show="false" primary-key="true" generator="identity" key="vendorId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder=""></wm-form-field>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>