<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout" show="true">
        <wm-gridrow name="headerrow">
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="7">
                <wm-picture picturesource="resources/images/logos/logo.png" name="AppLogo" margin="unset unset unset 5px" width="200"></wm-picture>
                <wm-label caption="" class="application-name" name="AppName" fontsize="20"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn name="headerright" horizontalalign="right" verticalalign="middle" columnwidth="5" padding="1em 1em unset unset">
                <wm-label padding="unset unset unset 0.5em" name="welcome_label" caption="Welcome"></wm-label>
                <wm-label padding="unset 0.5em" name="user_label" caption="bind:Variables.loggedInUser.dataSet.name"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>