<wm-page data-ng-controller="Create_PartPageController" pagetitle="Create Part" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Create Part" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.SupplierPortalCreateParts.dataSet" captionalign="left" name="form1">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow21">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn21">
                            <wm-picture name="picture1"></wm-picture>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn21">
                            <wm-form-field readonly="false" name="Parts_skunumber" displayname="Skunumber" key="Parts.skunumber" type="string" show="true" widget="text" required="true"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_name" displayname="Name" key="Parts.name" type="string" show="true" widget="text" required="true"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_description" displayname="Description" key="Parts.description" type="string" show="true" widget="textarea"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn22">
                            <wm-form-field readonly="false" name="Parts_status" displayname="Status" key="Parts.status" type="string" show="true" widget="text"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_price" displayname="Price" key="Parts.price" type="integer" show="true" widget="number"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_brandId" displayname="Brand Id" key="Parts.brandId" type="long" show="true" widget="number"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_brands" displayname="Brand" key="Parts.brands" type="list" show="true" widget="select"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow20">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn_logistics_info">
                            <wm-gridrow name="gridrow3">
                                <wm-label padding="unset 0.5em" name="label_logistics_info" caption="Logistics Info"></wm-label>
                            </wm-gridrow>
                            <wm-form-field readonly="true" name="Parts_suppliers" displayname="Supplier" key="Parts.suppliers" type="list" show="true" widget="text" defaultvalue="bind:Variables.loggedInUser.dataSet.name" required="false"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_partNumberSupplier" displayname="Part Number On Supplier Side" key="Parts.partNumberSupplier" type="string" show="true" widget="text"></wm-form-field>
                            <wm-form-field readonly="false" name="Parts_supplierId" displayname="Supplier Id (Hidden in Production)" key="Parts.supplierId" type="integer" show="true" widget="number" required="true"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn_dimensions">
                            <wm-gridrow name="gridrow4">
                                <wm-label padding="unset 0.5em" name="label_dimensions" caption="Dimensions"></wm-label>
                            </wm-gridrow>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn_length">
                                <wm-form-field readonly="false" name="Parts_dimensionsLength" displayname="Length" key="Parts.dimensionsLength" type="integer" show="true" widget="number" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn_width">
                                <wm-form-field readonly="false" name="Parts_dimensionsWidth" displayname="Width" key="Parts.dimensionsWidth" type="integer" show="true" widget="number" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn_height">
                                <wm-form-field readonly="false" name="Parts_dimensionsHeight" displayname="Height" key="Parts.dimensionsHeight" type="integer" show="true" widget="number" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="3" name="gridcolumn_unit_dimension">
                                <wm-form-field readonly="false" name="Parts_unitOfMeasureDimension" displayname="Unit" key="Parts.unitOfMeasureDimension" type="string" show="true" widget="select" required="false" dataset="inch, cm" defaultvalue="inch"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn_weight">
                                <wm-form-field readonly="false" name="Parts_weight" displayname="Weight" key="Parts.weight" type="integer" show="true" widget="number" placeholder=""></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="5" name="gridcolumn_unit_weight">
                                <wm-form-field readonly="false" name="Parts_unitOfMeasureWeight" displayname="Unit" key="Parts.unitOfMeasureWeight" type="string" show="true" widget="select" defaultvalue="lbs" required="false" dataset="lbs, kg"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn_details">
                            <wm-gridrow name="gridrow5_1">
                                <wm-label padding="unset 0.5em" name="label_details" caption="Details"></wm-label>
                            </wm-gridrow>
                            <wm-form-field readonly="false" name="Parts_active" displayname="Active" key="Parts.active" type="boolean" show="true" widget="checkbox" required="true" checkedvalue="true" uncheckedvalue="false" defaultvalue="true"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn_others">
                            <wm-gridrow name="gridrow5_1">
                                <wm-label padding="unset 0.5em" name="label_others" caption="Others"></wm-label>
                            </wm-gridrow>
                            <wm-label padding="unset 0.5em" name="label_1324" caption="Moet hier nog releated products?"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn_manufactoring">
                            <wm-gridrow name="gridrow8">
                                <wm-label padding="unset 0.5em" name="label_manufactoring" caption="Manufactoring"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow_lead_time">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn15">
                                    <wm-form-field readonly="false" name="Parts_manufacturingLeadTime" displayname="Lead Time" key="Parts.manufacturingLeadTime" type="long" show="true" widget="number"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn16">
                                    <wm-label padding="unset 0.5em" name="label_days" caption="Days" margin="3em unset unset unset"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow_qty_costs">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn17_1">
                                    <wm-form-field readonly="false" name="Parts_packageQuantity" displayname="Quantity" key="Parts.packageQuantity" type="long" show="true" widget="number"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn18_1">
                                    <wm-form-field readonly="false" name="Parts_manufacturingCosts" displayname="Manufacturing Costs" key="Parts.manufacturingCosts" type="integer" show="true" widget="number"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn_metadata">
                            <wm-gridrow name="gridrow11">
                                <wm-label padding="unset 0.5em" name="label_manufactoring" caption="Metadata"></wm-label>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow12">
                                <wm-gridcolumn columnwidth="8" name="gridcolumn20">
                                    <wm-form-field readonly="false" name="Parts_createdBy" displayname="Created By" key="Parts.createdBy" type="string" show="true" widget="text" disabled="true"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn21_1">
                                    <wm-form-field readonly="false" name="Parts_createdDate" displayname="Created Date" key="Parts.createdDate" type="date" show="true" widget="date" disabled="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow13_1">
                                <wm-gridcolumn columnwidth="8" name="gridcolumn22_1">
                                    <wm-form-field readonly="false" name="Parts_modifiedBy" displayname="Modified By" key="Parts.modifiedBy" type="string" show="true" widget="text" disabled="true"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn23">
                                    <wm-form-field readonly="false" name="Parts_modifiedDate" displayname="Modified Date" key="Parts.modifiedDate" type="date" show="true" widget="date" disabled="true"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field readonly="false" name="Parts_countryOfOrigin" displayname="Country Of Origin" key="Parts.countryOfOrigin" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow18">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                            <wm-form-field readonly="false" name="Parts_partCode" displayname="Part Code" key="Parts.partCode" type="string" show="true" widget="text"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow19">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn18">
                            <wm-form-field readonly="false" name="Parts_partId" displayname="Part Id" key="Parts.partId" type="long" show="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow29">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn28">
                            <wm-form-field readonly="false" name="Parts_attributeValues" displayname="Attribute Values" key="Parts.attributeValueses" type="list" show="true" widget="select" multiple="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow30">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn29">
                            <wm-form-field readonly="false" name="Parts_categoryPerParts" displayname="Select Category" key="Parts.categoryPerParts" type="list" show="true" widget="select" multiple="true" dataset="bind:Variables.readCategories.dataSet" datafield="categoryId"
                            displayfield="categoryName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow31">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn30">
                            <wm-form-field readonly="false" name="Parts_partsPerCompatibleWiths" displayname="Parts Per Compatible Withs" key="Parts.partsPerCompatibleWiths" type="list" show="true" widget="select" multiple="true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button1"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button2"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button3"></wm-button>
                </wm-buttongroup>
            </wm-form>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>