<wm-page data-ng-controller="Create_UserPageController" pagetitle="Create User" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-form errormessage="" captionposition="top" title="Form" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.SupplierPortalCreateUsers.dataSet" captionalign="left" name="form1">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow5">
                        <wm-composite name="composite1">
                            <wm-label class="h4 control-label" caption="Users Details" name="label1"></wm-label>
                        </wm-composite>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                            <wm-form-field name="Users_username" readonly="false" displayname="Username" key="Users.username" type="string" show="true" widget="text" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                            <wm-form-field name="Users_password" readonly="false" displayname="Password" key="Users.password" type="string" show="true" widget="text" inputtype="password" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                            <wm-form-field name="Users_role" readonly="false" displayname="Role" key="Users.role" type="string" show="true" widget="select" inputtype="text" placeholder="Enter value" dataset="manager, vendor" defaultvalue="supplier"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-form-field name="Users_vendor" readonly="false" displayname="Vendor" key="Users.suppliers" type="list" show="bind:Widgets.form1.formWidgets.Users_role.displayValue=='vendor'" widget="select" placeholder="Select value" dataset="bind:Variables.AllVendors.dataSet"
                            datafield="All Fields" displayfield="vendorName"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                            <wm-form-field name="Users_vendorId" readonly="false" displayname="Vendor Id" key="Users.supplierId" type="integer" show="false" widget="number" inputtype="number" placeholder="Enter value" defaultvalue="bind:Widgets.form1.formWidgets.Users_suppliers.datavalue.supplierId"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup horizontalalign="right" class="form-action col-md-12" name="buttongroup1">
                    <wm-button caption="Reset" type="reset" class="btn-secondary" name="button2"></wm-button>
                    <wm-button caption="Cancel" type="button" class="btn-warning" name="button3" on-click="Variables.goToPage_Users.invoke()"></wm-button>
                    <wm-button caption="Save" type="submit" class="btn-primary" name="button4" on-click="Variables.md5InsertJava.invoke();Variables.createUser.createRecord();Variables.goToPage_Users.invoke()"></wm-button>
                </wm-buttongroup>
            </wm-form>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>