<wm-page data-ng-controller="Parts_CataloguePageController" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" name="left_panel1" backgroundcolor="#ececec">
            <wm-accordion name="accordion1">
                <wm-accordionpane name="accordionpane1" title="Status">
                    <div ng-repeat="val in consolidatedStatusArr.statusValue">
                        <div class="row">
                            <div class="col-sm-4">
                                <wm-label name="{{val.name}}" caption="{{val.name}}" class="col-md-4"></wm-label>
                            </div>
                            <div class="col-sm-6">
                                <wm-progress datavalue="{{val.percentage}}" name="{{val.name}}"></wm-progress>
                            </div>
                            <div class="col-sm-2 status-unit">
                                <span>({{val.unit}})</span>
                            </div>
                        </div>
                    </div>
                </wm-accordionpane>
            </wm-accordion>
            <wm-accordion name="accordion2">
                <wm-accordionpane name="accordionpane4" title="PRICE RANGE">
                    <wm-composite name="composite1">
                        <wm-composite name="composite2">
                            <wm-container class="col-md-9" name="container2">
                                <wm-text name="text1" class="input-sm" displayformat="999-99-9999"></wm-text>
                            </wm-container>
                        </wm-composite>
                        <wm-label class="col-md-3 control-label" name="label7"></wm-label>
                        <wm-container class="col-md-9" name="container1">
                            <wm-slider name="slider1"></wm-slider>
                        </wm-container>
                    </wm-composite>
                </wm-accordionpane>
            </wm-accordion>
            <wm-accordion name="accordion3">
                <wm-accordionpane name="accordionpane7" title="CATEGORIES">
                    <wm-tree name="tree1"></wm-tree>
                </wm-accordionpane>
            </wm-accordion>
        </wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1" backgroundcolor="#fff">
            <wm-layoutgrid name="layoutgrid3_2"></wm-layoutgrid>
            <wm-livelist listclass="list-group" itemsperrow="xs-1 sm-3 md-4 lg-4" template="true" class="list-card" dataset="bind:Variables.AllParts.dataSet" navigation="Basic" name="productList" padding="1em unset unset unset" showrecordcount="true">
                <wm-listtemplate layout="media" name="productListTemplate">
                    <wm-card name="productCard" imageheight="auto">
                        <wm-card-content name="productCardContent">
                            <wm-picture name="productPicture" picturesource="bind:Variables.AllParts.dataSet.data[$i].name" width="100%"></wm-picture>
                            <wm-anchor name="productNameAnchor" caption="bind:Variables.AllParts.dataSet.data[$i].name" class="h4" margin="0px unset"></wm-anchor>
                            <wm-label caption="bind:Variables.AllParts.dataSet.data[$i].suppliers.address1" name="bySellerLabel" whitespace="nowrap" opacity="0.8" margin=".25em 0em 0em 0em" class="p"></wm-label>
                            <wm-label name="dollarLabel" caption="$" fontweight="bold" margin="0px"></wm-label>
                            <wm-label caption="bind:Variables.AllParts.dataSet.data[$i].price" name="productPriceLabel" fontweight="bold" whitespace="nowrap" margin="0px"></wm-label>
                        </wm-card-content>
                        <wm-card-footer name="productCardFooter" horizontalalign="right">
                            <wm-anchor margin="unset 0.5em" name="viewListAnchor" iconclass="wi wi-view-list fa-2x" caption=""></wm-anchor>
                            <wm-anchor margin="unset 0.5em" name="addCartAnchor" iconclass="wi wi-shopping-cart fa-2x" caption=""></wm-anchor>
                        </wm-card-footer>
                    </wm-card>
                </wm-listtemplate>
            </wm-livelist>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>