<wm-page data-ng-controller="PartsPageController" name="page1">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="parts" title="Parts">
                    <wm-button class="btn-default" caption="Show Requested Parts" type="button" margin="0.5em 0.5em 2em unset" name="requested_parts_filter" accessroles="admin,manager" on-click="requested_parts_filterClick($event, $scope)"></wm-button>
                    <wm-button class="btn-default" caption="Create New Part" type="button" margin="0.5em 0.5em 2em 0.5em" name="create_part_btn" on-click="create_part_btnClick($event, $scope)" accessroles="admin"></wm-button>
                    <wm-button class="btn-default" caption="Create Part" type="button" margin="0.5em 0.5em 2em 0.5em" name="create_part_small" accessroles="vendor,admin,manager" on-click="Variables.goToPage_Create_Part_Simple.invoke()"></wm-button>
                    <wm-button class="btn-default align-right" caption="" type="button" margin="unset 0.5em" name="button_refresh" iconclass="wi wi-refresh" on-click="button_refreshClick($event, $scope)"></wm-button>
                    <wm-grid editmode="inline" title="Parts" dataset="bind:Variables.SupplierPortalPartsData.dataSet" navigation="Basic" name="parts_grid" filtermode="search" on-rowdblclick="Variables.goToPage_EditPartSimple.invoke()">
                        <wm-grid-column binding="skunumber" caption="Skunumber" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="salesName" caption="Sales Name" type="string" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="partCode" caption="Part Number" type="string" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="status" caption="Status" type="string" width="15%" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-row-action key="customRow" display-name="" show="bind:row['status'] === 'Requested' &amp;&amp; Variables.readUser.dataSet.data[0].role=='admin' || Variables.readUser.dataSet.data[0].role=='manager'" class="btn-transparent"
                        iconclass="wi wi-check" title="Approve" action="customRowAction($event)" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="customRow1" display-name="" show="bind:row['status'] === 'Requested' &amp;&amp; Variables.readUser.dataSet.data[0].role=='admin' || Variables.readUser.dataSet.data[0].role=='manager'"
                        class="btn-transparent" iconclass="wi wi-close" title="Reject" action="customRow1Action($event)" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="Variables.goToPage_EditPartSimple.invoke()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="customRow2" display-name="" show="true" class="btn-transparent" iconclass="wi wi-print" title="Print label" action="Variables.goToPage_Print_Part_Label.invoke()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="bind:Variables.readUser.firstRecord.role=='admin'" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                </wm-tabpane>
                <wm-tabpane name="categories" title="Categories" accessroles="manager,admin">
                    <wm-livegrid formlayout="dialog" name="livegrid1">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Categories" dataset="bind:Variables.SupplierPortalCategoriesData.dataSet" navigation="Basic" name="categories_grid">
                            <wm-grid-column binding="categoryName" caption="Category Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="categoryPrefix" caption="Category Prefix" type="string" width="15%" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Categories Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.SupplierPortalCategoriesData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                            <wm-layoutgrid columns="1" name="layoutgrid1">
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                        <wm-form-field name="categoryName" displayname="Category Name" show="true" primary-key="false" generator="assigned" key="categoryName" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="categoryPrefix" displayname="Category Prefix" show="true" primary-key="false" generator="assigned" key="categoryPrefix" type="string" readonly="false" required="false" widget="text" maxchars="2"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="categoryId" displayname="Category Id" show="false" primary-key="true" generator="identity" key="categoryId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
                <wm-tabpane name="brands" title="Brands" accessroles="manager,admin">
                    <wm-livegrid formlayout="dialog" name="livegrid2">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Brands" dataset="bind:Variables.SupplierPortalBrandsData.dataSet" navigation="Basic" name="brands_grid">
                            <wm-grid-column binding="brandName" caption="Brand Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Brands Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.SupplierPortalBrandsData.dataSet" captionalign="left" captionposition="top" name="liveform2">
                            <wm-layoutgrid columns="1" name="layoutgrid2">
                                <wm-gridrow name="gridrow2">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                        <wm-form-field name="brandName" displayname="Brand Name" required="false" show="true" generator="assigned" primary-key="false" key="brandName" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                        widget="text"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
            </wm-tabs>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-alertdialog name="maxAllotmentInfoDialog" message="You have reached the maximum number of products you can add. Contact eparts.shop if you want to add more products." alerttype="information" title="Maximum number of products"></wm-alertdialog>
    </wm-view>
</wm-page>