<wm-page data-ng-controller="SupplierListPageController" pagetitle="Supplier List" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-tabs name="tabs1">
                <wm-tabpane name="vendors" title="Vendors">
                    <wm-button class="btn-default" caption="Create Vendor" type="button" margin="0.5em 0.5em 2em unset" name="create_vendor_btn" on-click="Variables.goToPage_Create_Supplier.invoke()"></wm-button>
                    <wm-grid gridfirstrowselect="true" editmode="dialog" title="Vendors" dataset="bind:Variables.SupplierPortalSuppliersData.dataSet" navigation="Basic" name="vendors_grid" showrecordcount="true" on-rowdblclick="Variables.goToPage_Supplier_Details.invoke()">
                        <wm-grid-column binding="vendorName" caption="Vendor" type="string" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="vendorCode" caption="Vendor Code" type="string" primary-key="false" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="city" caption="City" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="country" caption="Country" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="regionsByRegion.regionName" caption="Region" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Regions"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="Variables.goToPage_Supplier_Details.invoke()" disabled="false"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                    </wm-grid>
                    <wm-liveform errormessage="" title="Suppliers Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.SupplierPortalSuppliersData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                        <wm-layoutgrid columns="1" name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                                    <wm-form-field name="supplierCode" displayname="Supplier Code" required="false" show="true" generator="assigned" primary-key="false" key="supplierCode" type="string" is-related="false" maxchars="10" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                                    <wm-form-field name="supplierName" displayname="Supplier Name" required="false" show="true" generator="assigned" primary-key="false" key="supplierName" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                                    <wm-form-field name="address1" displayname="Address1" required="false" show="true" generator="assigned" primary-key="false" key="address1" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                                    <wm-form-field name="address2" displayname="Address2" required="false" show="true" generator="assigned" primary-key="false" key="address2" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow5">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn5">
                                    <wm-form-field name="address3" displayname="Address3" required="false" show="true" generator="assigned" primary-key="false" key="address3" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow6">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                    <wm-form-field name="address4" displayname="Address4" required="false" show="true" generator="assigned" primary-key="false" key="address4" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                    <wm-form-field name="city" displayname="City" required="false" show="true" generator="assigned" primary-key="false" key="city" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                    <wm-form-field name="country" displayname="Country" required="false" show="true" generator="assigned" primary-key="false" key="country" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                    <wm-form-field name="region" displayname="Region" required="false" show="true" generator="assigned" primary-key="false" key="region" type="string" is-related="false" maxchars="20" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow10">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                    <wm-form-field name="allotment" displayname="Allotment" required="false" show="true" generator="assigned" primary-key="false" key="allotment" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-field name="supplierId" displayname="Supplier Id" required="true" show="false" generator="identity" primary-key="true" key="supplierId" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                        widget="number"></wm-form-field>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-tabpane>
                <wm-tabpane name="regions" title="Regions">
                    <wm-livegrid formlayout="dialog" name="livegrid2">
                        <wm-grid gridfirstrowselect="true" editmode="dialog" title="Regions" dataset="bind:Variables.SupplierPortalRegionsData.dataSet" navigation="Basic" name="regions_grid">
                            <wm-grid-column binding="regionName" caption="Region Name" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                            <wm-grid-column binding="suppliersByRegionConsolidator.supplierName" caption="Consolidator" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Suppliers"></wm-grid-column>
                            <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                            <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-grid-action>
                            <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-grid-row-action>
                            <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                        </wm-grid>
                        <wm-liveform errormessage="" title="Regions Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.SupplierPortalRegionsData.dataSet" captionalign="left" captionposition="top" name="liveform2">
                            <wm-layoutgrid columns="1" name="layoutgrid2">
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                        <wm-form-field name="regionName" displayname="Region Name" show="true" primary-key="false" generator="assigned" key="regionName" type="string" readonly="false" required="false" widget="text" maxchars="255" inputtype="text"
                                        placeholder="Enter value"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow1">
                                    <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                                        <wm-form-field name="suppliersByRegionConsolidator" displayname="Region Consolidator" show="true" primary-key="false" generator="assigned" key="suppliersByRegionConsolidator" type="list" is-related="true" readonly="false"
                                        required="false" widget="select" placeholder="Select value" dataset="bind:Variables.AllVendors.dataSet" datafield="All Fields" displayfield="supplierName"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-form-field name="regionId" displayname="Region Id" show="false" primary-key="true" generator="identity" key="regionId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                        </wm-liveform>
                    </wm-livegrid>
                </wm-tabpane>
            </wm-tabs>
            <wm-livegrid formlayout="dialog" name="livegrid1"></wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>