<wm-page data-ng-controller="Create_SupplierPageController" pagetitle="Create_Supplier" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform errormessage="" title="Vendor Info" iconclass="wi wi-edit" defaultmode="Edit" dataset="bind:Variables.SupplierPortalSuppliersData.dataSet" captionalign="left" captionposition="top" name="create_vendor_liveform" on-success="Variables.goToPage_SupplierList.invoke()">
                <wm-layoutgrid columns="1" name="layoutgrid2">
                    <wm-gridrow name="gridrow11">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-form-field name="vendorName" displayname="Vendor Name" show="true" primary-key="false" generator="assigned" key="vendorName" type="string" readonly="false" required="true" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn12">
                            <wm-form-field name="vendorCode" displayname="Vendor Code" show="true" primary-key="false" generator="assigned" key="vendorCode" type="string" readonly="false" required="true" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn13">
                            <wm-form-field name="regionsByRegion" displayname="Region" show="true" primary-key="false" generator="assigned" key="regionsByRegion" type="list" is-related="true" readonly="false" required="true" widget="select" datafield="All Fields"
                            dataset="bind:Variables.readRegions.dataSet" displayfield="regionName" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow14">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn14">
                            <wm-form-field name="allotment" displayname="Allotment" show="true" primary-key="false" generator="assigned" key="allotment" type="integer" readonly="false" required="false" step="0" widget="number" hint="The number of products that the supplier is allowed to update."
                            inputtype="number" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow15">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                            <wm-form-field name="country" displayname="Country" show="true" primary-key="false" generator="assigned" key="country" type="string" readonly="false" required="false" widget="select" maxchars="50" dataset="bind:Variables.countryList.dataSet"
                            placeholder="Select value" datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow16">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn16">
                            <wm-form-field name="state" displayname="State" show="bind:Widgets.create_supplier_liveform.formWidgets.country.displayValue == &quot;United States&quot;" primary-key="false" generator="assigned" key="state" type="string" readonly="false"
                            required="false" widget="select" maxchars="100" dataset="bind:Variables.usStatesList.dataSet" datafield="dataValue" displayfield="name" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow17">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                            <wm-form-field name="city" displayname="City" show="true" primary-key="false" generator="assigned" key="city" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow18">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn18">
                            <wm-form-field name="address1" displayname="Address1" show="true" primary-key="false" generator="assigned" key="address1" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow19">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn19">
                            <wm-form-field name="address2" displayname="Address2" show="true" primary-key="false" generator="assigned" key="address2" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow20">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn20">
                            <wm-form-field name="address3" displayname="Address3" show="true" primary-key="false" generator="assigned" key="address3" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-form-field name="address4" displayname="Address4" show="true" primary-key="false" generator="assigned" key="address4" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="vendorId" displayname="Vendor Id" show="false" primary-key="true" generator="identity" key="vendorId" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder=""></wm-form-field>
                <wm-form-action key="reset" display-name="Reset" show="true" class="form-reset btn-secondary" iconclass="wi wi-refresh" title="Reset" action="reset()" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>