<wm-partial data-ng-controller="footerPageController" name="footer" type="footer">
    <wm-layoutgrid height="auto" name="footerlayout">
        <wm-gridrow name="footerrow">
            <wm-gridcolumn name="footerleft" verticalalign="bottom"></wm-gridcolumn>
            <wm-gridcolumn horizontalalign="right" verticalalign="bottom" name="footerright">
                <wm-label caption="Copyright 2017 eparts.shop" textalign="right" name="copyright"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>