.gridrow-part-create {
    /*border-bottom: 2px solid lightgrey;*/
    /*margin-bottom: 60px;*/
}

.create-part-label {
    width: 100%;
    background: lightgrey;
}

input.testcss::before {
    content: "Test";
}