<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="mainContent" padding="unset 15px">
            <wm-tile width="240px" height="220px" class="bg-primary" name="tile2" on-click="Variables.goToPage_Parts.invoke()" accessroles="admin,manager">
                <wm-layoutgrid height="100%" name="layoutgrid3">
                    <wm-gridrow height="100%" name="gridrow3">
                        <wm-gridcolumn columnwidth="12" padding="2em unset unset unset" horizontalalign="center" name="gridcolumn6">
                            <wm-label name="tileTitle" caption="Parts for Approval" class="p" fontsize="1.5" fontunit="em"></wm-label>
                            <wm-label name="tileStatLabel" caption="bind:Variables.countPartsRequestedStatus.dataSet.value" fontsize="3" fontunit="em" class="p"></wm-label>
                            <wm-label padding="unset 0.5em" name="label3" caption="Approve Products" textalign="center" on-click="Variables.goToPage_Parts.invoke()" backgroundsize="100%" style="cursor: pointer;"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tile>
            <wm-tile width="240px" height="220px" class="bg-primary" name="tile3" on-click="Variables.goToPage_Parts.invoke()" accessroles="admin,manager" margin="unset unset unset 10px">
                <wm-layoutgrid height="100%" name="layoutgrid3">
                    <wm-gridrow height="100%" name="gridrow3">
                        <wm-gridcolumn columnwidth="12" padding="2em unset unset unset" horizontalalign="center" name="gridcolumn6">
                            <wm-label name="tileTitle" caption="Parts with status Draft" class="p" fontsize="1.5" fontunit="em"></wm-label>
                            <wm-label name="tileStatLabel" caption="bind:Variables.countPartsRequestedStatus.dataSet.value" fontsize="3" fontunit="em" class="p"></wm-label>
                            <wm-label padding="unset 0.5em" name="label3" caption="View Products" textalign="center" on-click="Variables.goToPage_Parts.invoke()" backgroundsize="100%" style="cursor: pointer;"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tile>
            <wm-tile width="240px" height="220px" class="bg-primary" name="tile4" on-click="Variables.goToPage_Parts.invoke()" accessroles="admin,manager,vendor" margin="unset unset unset 10px">
                <wm-layoutgrid height="100%" name="layoutgrid3">
                    <wm-gridrow height="100%" name="gridrow3">
                        <wm-gridcolumn columnwidth="12" padding="2em unset unset unset" horizontalalign="center" name="gridcolumn6">
                            <wm-label name="tileTitle" caption="Your parts with status Draft" class="p" fontsize="1.5" fontunit="em"></wm-label>
                            <wm-label name="tileStatLabel" caption="bind:Variables.countPartsDraftStatusForVendor.dataSet[$i].count___" fontsize="3" fontunit="em" class="p"></wm-label>
                            <wm-label padding="unset 0.5em" name="label3" caption="View Products" textalign="center" on-click="Variables.goToPage_Parts.invoke()" backgroundsize="100%" style="cursor: pointer;"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-tile>
        </wm-page-content>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
</wm-page>