<wm-page data-ng-controller="UsersPageController" pagetitle="Users" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-button class="btn-default" caption="Create User" type="button" margin="0.5em 0.5em 2em unset" name="create_user_btn" on-click="Variables.goToPage_Create_User.invoke()"></wm-button>
            <wm-livegrid formlayout="dialog" name="livegrid1">
                <wm-grid gridfirstrowselect="true" editmode="dialog" title="Users" dataset="bind:Variables.SupplierPortalUsersData.dataSet" navigation="Basic" name="grid2">
                    <wm-grid-column binding="username" caption="Username" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="role" caption="Role" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-grid-column>
                    <wm-grid-column binding="vendors.vendorName" caption="Related Vendor" type="string" primary-key="false" generator="assigned" readonly="true" edit-widget-type="text" show="true" related-entity-name="Vendors"></wm-grid-column>
                    <wm-grid-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-grid-column>
                    <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="Widgets.editUserDialog.open()" disabled="false"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-grid-row-action>
                </wm-grid>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Edit User" iconclass="wi wi-file-text" name="editUserDialog">
            <wm-form errormessage="" title="Users Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.SupplierPortalUsersData.dataSet" captionalign="left" captionposition="top" name="updateUserForm">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                            <wm-form-field name="username" displayname="Username" required="false" show="true" generator="assigned" primary-key="false" key="username" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                            widget="text" defaultvalue="bind:Widgets.grid2.selecteditem.username"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                            <wm-form-field name="role" displayname="Role" required="false" show="true" generator="assigned" primary-key="false" key="role" type="list" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="select"
                            defaultvalue="bind:Widgets.grid2.selecteditem.role" dataset="manager, vendor"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn4">
                            <wm-form-field name="vendor" displayname="Vendor" required="false" show="bind:Widgets.updateUserForm.formWidgets.role.displayValue=='vendor'" generator="assigned" primary-key="false" key="suppliers" type="list" is-related="true"
                            pc-display="true" mobile-display="true" widget="select" dataset="bind:Variables.AllVendors.dataSet" datafield="All Fields" displayfield="vendorName" defaultvalue="bind:Widgets.grid2.selecteditem.vendors"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn2">
                            <wm-form-field name="password" displayname="Password" required="false" show="false" generator="assigned" primary-key="false" key="password" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                            widget="text" inputtype="password" defaultvalue="bind:Widgets.grid2.selecteditem.password"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number" defaultvalue="bind:Widgets.grid2.selecteditem.id"></wm-form-field>
                <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-form>
            <wm-button class="btn-default" caption="Save" type="button" name="saveUserBtn" on-click="Variables.updateUser.updateRecord();saveUserBtnClick($event, $scope);Widgets.editUserDialog.close()" iconclass="wi wi-save"></wm-button>
        </wm-dialog>
    </wm-view>
</wm-page>